vte-terminal
{
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}

vte-terminal revealer.size label
{
  background: var(--window-bg-color);
  padding: 3px 12px;
  border-top-left-radius: 9px;
  border-top: 1px solid color-mix(in srgb, var(--border-color), transparent);
  border-left: 1px solid color-mix(in srgb, var(--border-color), transparent);
}
