include: 'https://gitlab.gnome.org/GNOME/citemplates/raw/master/flatpak/flatpak_ci_initiative.yml'

flatpak:
  extends: .flatpak
  timeout: 90m
  variables:
    GIT_SUBMODULE_STRATEGY: normal

    # Replace with your manifest path
    MANIFEST_PATH: "build-aux/flatpak/org.gnome.Builder.json"
    RUNTIME_REPO: "https://nightly.gnome.org/gnome-nightly.flatpakrepo"
    # Replace with your application name, as written in the manifest
    FLATPAK_MODULE: "gnome-builder"
    APP_ID: "org.gnome.Builder"
    BUNDLE: "gnome-builder-git.flatpak"
  before_script:
    - flatpak --user remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
    - flatpak --user install -y flathub org.freedesktop.Sdk.Extension.llvm12//21.08
    - flatpak --user install -y flathub org.freedesktop.Sdk.Extension.node14//21.08

nightly:
    extends: '.publish_nightly'
    dependencies:
        - 'flatpak'
