*.deps
*.gz
*.libs
*.lo
*.o
*.swp
*.xz
*~
.dirstamp
Makefile
Makefile.in
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
gnome-builder
intltool-extract.in
intltool-merge.in
intltool-update.in
libgnome-builder.la
libide.la
libtool
stamp-h1
test-c-parse-helper
test-c-parse-helper
test-c-parse-helper.log
test-c-parse-helper.trs
test-navigation-list
test-navigation-list.log
test-navigation-list.trs
test-suite.log
