*.deps
*.gz
*.libs
*.lo
*.log
*.o
*.swp
*.trs
*.xz
*~
.dirstamp
Makefile
Makefile.in
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
gnome-builder
ide-build
ide-list-devices
ide-list-diagnostics
ide-list-files
intltool-extract.in
intltool-merge.in
intltool-update.in
libgnome-builder.la
libide.la
libtool
stamp-h1
test-c-parse-helper
test-ide-back-forward-list
test-ide-context
test-navigation-list
