include: 'https://gitlab.gnome.org/GNOME/citemplates/raw/master/flatpak/flatpak_ci_initiative.yml'

.flatpak_vars:
  variables:
    GIT_SUBMODULE_STRATEGY: normal

    # Replace with your manifest path
    MANIFEST_PATH: "org.gnome.Builder.Devel.json"
    RUNTIME_REPO: "https://nightly.gnome.org/gnome-nightly.flatpakrepo"
    # Replace with your application name, as written in the manifest
    FLATPAK_MODULE: "gnome-builder"
    APP_ID: "org.gnome.Builder.Devel"
    BUNDLE: "gnome-builder-git.flatpak"
  before_script:
    - flatpak --user install -y org.freedesktop.Sdk.Extension.llvm15//22.08
    - flatpak --user install -y org.freedesktop.Sdk.Extension.node18//22.08

flatpak@x86_64:
  extends: 
    - '.flatpak_vars'
    - '.flatpak@x86_64'
  timeout: 90m

flatpak@aarch64:
  extends: 
    - '.flatpak_vars'
    - '.flatpak@aarch64'
  timeout: 120m

nightly@x86_64:
  extends: '.publish_nightly'
  needs:
    - 'flatpak@x86_64'

nightly@aarch64:
  extends: '.publish_nightly'
  needs:
    - 'flatpak@aarch64'
