[submodule "subprojects/libgd"]
	path = subprojects/libgd
	url = https://git.gnome.org/browse/libgd
[submodule "subprojects/jsonrpc-glib"]
	path = subprojects/jsonrpc-glib
	url = https://gitlab.gnome.org/GNOME/jsonrpc-glib.git
[submodule "subprojects/template-glib"]
	path = subprojects/template-glib
	url = https://gitlab.gnome.org/GNOME/template-glib.git
[submodule "subprojects/libdazzle"]
	path = subprojects/libdazzle
	url = https://gitlab.gnome.org/GNOME/libdazzle.git
