*.deps
*.gch
*.gz
*.la
*.libs
*.lo
*.log
*.o
*.swp
*.trs
*.xz
*~
.dirstamp
Makefile
Ide-1.0.gir
Ide-1.0.typelib
Makefile.in
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
gnome-builder
ide-build
ide-list-devices
ide-list-diagnostics
ide-list-file-settings
ide-list-files
ide-search
intltool-extract.in
intltool-merge.in
intltool-update.in
libgnome-builder.la
libide.la
libtool
stamp-h1
test-c-parse-helper
test-ide-back-forward-list
test-ide-buffer
test-ide-buffer-manager
test-ide-context
test-ide-source-view
test-navigation-list
test.c
