*~

*.lo
*.o
.deps
.dirstamp
.libs

stamp-h2

.stamps

# /
/Makefile
/Makefile.in
/idemmconfig.h
/compile-binding.am
/dist-changelog.am
/doc-reference.am
/generate-binding.am

# /src
/src/Makefile
/src/Makefile.in

# /tools
/tools/extra_defs_gen/.dirstamp
/tools/extra_defs_gen/generate_defs_libide
/tools/Makefile
/tools/Makefile.in

# /idemm
/idemm/libidemm-1.0.la
/idemm/Makefile
/idemm/Makefile.in
/idemm/private/
/idemm/application.cc
/idemm/application.h
/idemm/wrap_init.cc

# docs/
/docs/doc-install.pl
/docs/doc-postprocess.pl
/docs/doxygen.css
/docs/doxygen-extra.css
/docs/tagfile-to-devhelp2.xsl
/docs/reference/Doxyfile
/docs/reference/doxygen.log
/docs/reference/gstreamermm-1.0.devhelp2
/docs/reference/gstreamermm-1.0.tag
/docs/reference/html/
