snippet class
- scope vala
- desc Create Class
	class ${1:$filename|stripsuffix|camelize} : ${2:Object} {
		public $1 () {
			$0
		}
	}
snippet comment
- scope vala
- desc Insert a multiline comment.
	/*
	 * $0
	 */
