/* Preferences */
window.preferences list.boxed-list.style-variant button {
  padding: 0;
  margin: 0;
  border: 3px solid transparent;
  border-radius: 9px;
  background: transparent;
}
window.preferences list.boxed-list.style-variant button:checked {
  border-color: @theme_selected_bg_color;
}
window.preferences list check {
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
  color: @window_fg_color;
  -gtk-icon-source: none;
  -gtk-icon-size: 18px;
}
window.preferences list check:checked {
  -gtk-icon-source: -gtk-icontheme('object-select-symbolic');
}
stylevariantpreview widget.wallpaper {
  border-radius: 6px;
  box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
}
stylevariantpreview widget.window {
  box-shadow: 0 0 9px 2px rgba(0,0,0,.25);
  border-radius: 7px;
  border: 1px solid alpha(white, .075);
}
stylevariantpreview widget.window.dark {
  background: #242424;
}
stylevariantpreview widget.window.light {
  background: #fafafa;
}
stylevariantpreview widget.header {
  border-radius: 7px 7px 0 0;
  border-bottom: 1px solid alpha(white, 0.075);
}
stylevariantpreview widget.header.dark {
  background: #484848;
}
stylevariantpreview widget.header.light {
  background: #cccccc;
}

window popover.global-search contents {
  padding: 0;
  margin: 0;
}
window popover.global-search .navigation-sidebar {
  border-right: 1px solid @borders;
}

notificationstack button {
  margin: 0;
  padding: 0;
  background: none;
}

/* Make new libadwaita match closer to libpanel frame header */
tabboxchild {
 margin-top: 2px;
 margin-bottom: 2px;
}
