stylevariantpreview widget.wallpaper {
  border-radius: 6px;
}

popover.global-search contents {
  padding: 0;
  margin: 0;
}
popover.global-search listview.results {
  padding: 6px 0;
  background: none;
  color: inherit;
}
popover.global-search listview.results row {
  min-height: 36px;
  padding: 2px 8px;
  border-radius: 6px;
  margin: 0 6px 4px;
}
.global-search textview {
  background: none;
}
.global-search .sidebar-pane {
  background: alpha(currentColor, .05);
}

notificationstack button {
  margin: 0;
  padding: 0;
  background: none;
}

button.pill.small {
  font-size: .83333em;
  border-radius: 99px;
  margin: 0;
  padding: 1px 12px;
}

/* Styling for search bars */
.searchbar {
  background-color: @popover_bg_color;
  background-clip: padding-box;
  color: @popover_fg_color;
  padding: 6px;
  border-style: solid;
  border-color: alpha(black, .14);
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-radius: 0 0 12px 12px;
  margin: 0 10px 20px 10px;
  box-shadow: 0 1px 5px 1px alpha(black, .09),
              0 2px 14px 3px alpha(black, .05);
}
.searchbar button.flat.circular {
  min-width: 24px;
  min-height: 24px;
  margin: 0px;
  padding: 3px;
}

/* Images for checkbuttons in various UI */
.checkimage radio,
.checkimage check {
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
  color: @window_fg_color;
  -gtk-icon-source: none;
  -gtk-icon-size: 18px;
}
.checkimage radio:checked,
.checkimage check:checked {
  -gtk-icon-source: -gtk-icontheme('object-select-symbolic');
}

/* Sidebar style */
paneldockchild.start,
paneldockchild.end {
  background: @sidebar_bg_color;
  color: @sidebar_fg_color;
}
paneldockchild.start:backdrop,
paneldockchild.end:backdrop {
  background: @sidebar_backdrop_color;
  transition: 200ms ease-in-out;
}
paneldockchild.start .frameheader,
paneldockchild.end .frameheader {
  border: none;
}
paneldockchild.start panelresizer > widget > separator,
paneldockchild.end panelresizer > widget > separator {
  background-color: @sidebar_shade_color;
}
paneldockchild.start scrolledwindow.undershoot-bottom > undershoot.bottom,
paneldockchild.end scrolledwindow.undershoot-bottom > undershoot.bottom {
  box-shadow: inset 0 -1px alpha(@sidebar_shade_color, .75);
  background: linear-gradient(to top, alpha(@sidebar_shade_color, .75), transparent 4px);
}
paneldockchild.start scrolledwindow > undershoot.top,
paneldockchild.end scrolledwindow > undershoot.top {
  box-shadow: inset 0 1px alpha(@sidebar_shade_color, .75);
  background: linear-gradient(to bottom, alpha(@sidebar_shade_color, .75), transparent 4px);
}
