
.light-bulb image {
  color: #f9f06b;
}


.light-bulb button {
  padding: 0px 4px;
  background: none;
  border: none;
  box-shadow: none;
}

.light-bulb button:hover {
  background: @theme_bg_color;
  box-shadow: 0 0 3px 3px alpha(#000, .3);
}

.light-bulb button image:last-child {
  opacity: 0;
}

.light-bulb button:hover image:last-child {
  opacity: 1;
}
