@import url("resource:///org/gnome/builder/theme/Adwaita-shared.css");


eggsearchbar box.search-bar {
  background-color: #303535;
  box-shadow: 0 4px 3px -5px #2c3030 inset,
              0 -1px 0 #1c1f1f inset;
}
eggsearchbar:backdrop box.search-bar {
  box-shadow: 0 -1px 0 #2c3030 inset;
}


perspectiveswitcher {
  background-color: #303535;
}
perspectiveswitcher button {
  color: #696c6b;
}
perspectiveswitcher button:checked,
perspectiveswitcher button:checked:hover {
  color: #eeeeec;
}
perspectiveswitcher button:hover {
  color: #b2b4b2;
}


pillbox {
  background-color: #333435;
}


layouttabbar {
  background-color: #303535;
  box-shadow: 0 4px 3px -5px #2c3030 inset,
              0 -1px 0 #1c1f1f inset;
}
layouttabbar:backdrop {
  box-shadow: 0 -1px 0 #2c3030 inset;
}
layouttab {
  border-bottom-color: #215d9c;
  box-shadow: 0 4px 3px -5px #2c3030 inset;
}
layouttab:backdrop {
  background-color: #393f3f;
  border-right-color: alpha(@borders, 0.5);
  border-left-color: alpha(@borders, 0.5);
  box-shadow: none;
}


tabstrip {
  background-color: #303535;
  box-shadow: 0 4px 3px -5px #2c3030 inset,
              0 -1px 0 #1c1f1f inset;
}
tabstrip:backdrop {
  box-shadow: 0 -1px 0 #2c3030 inset;
}
tabstrip tab:checked {
  box-shadow: 0 -2px 0 #215d9c inset;
}
