@import url("resource:///org/gnome/builder/theme/Adwaita-shared.css");


treeview.view {
  color: #eeeeec;
  background-color: mix(#292929, #2e3436, 0.8);
}
treeview.view:backdrop {
  color: #a1a1a1;
  background-color: #2e3436;
}
treeview.view.cell:selected {
  color: #fff;
  background-color: #215d9c;
}


pillbox {
  background-color: #1e1e1e;
  border-radius: 3px;
}


RgGraph {
  background-color: #2e3436;
  background-size: 8px 8px;
  background-image: repeating-linear-gradient(0deg, #32383a, #32383a 1px, transparent 1px, transparent 8px),
                    repeating-linear-gradient(-90deg, #32383a, #32383a 1px, transparent 1px, transparent 8px);
}


GbTerminalView {
  background-color: #2e3436;
  color: #babdb6;
}


treeview.dim-label {
  color: #979a99;
}

treeview:backdrop.dim-label {
  color: #6d6f70;
}


GbAccelLabel .frame {
  background-color: #222;
  border: 1px solid #cecece;
  border-color: #1c1f1f;
  border-radius: 5px;
  color: #eeeeec;
  padding: 3px 8px 3px 8px;
  box-shadow: 0px 1px 0px #333 inset,
              0px -1px 0px #111 inset;
}


GtkBox.horizontal.search-bar {
  background: none;
  background-color: #303535;
  box-shadow: inset 0 2px 3px -1px #242828, 0 1px rgba(238, 238, 236, 0.1);
  border: none;
  border-bottom: 1px solid #1c1f1f;
}
GtkBox.horizontal.search-bar:backdrop {
  border-color: #1f2222;
  background-color: #303535;
  box-shadow: none;
}


workbench > GtkOverlay > stack > GtkBox > stackswitcher.vertical:first-child {
  background: #313434;
}
workbench > GtkOverlay > stack > GtkBox > stackswitcher.vertical:first-child button {
  padding: 8 10 8 10;
  color: #979a99;
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 0px;
}
workbench > GtkOverlay > stack > GtkBox > stackswitcher.vertical:first-child button:checked {
  color: #babdb6;
}
