@import url("resource:///org/gnome/builder/theme/shared.css");
@import url("resource:///org/gnome/builder/theme/Adwaita-panels.css");


/*
 * Titlebar adjustments for workbench
 *
 * This is needed due to our placement of headerbar inside of a
 * stack. We were seeing black edges around the header bar, and
 * improper radius on the headerbar.
 */
workbench stack.titlebar {
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  box-shadow: none;
  padding: 0;
}
workbench stack.titlebar headerbar {
  border-radius: 6px 6px 0 0;
  margin: 0;
  border-bottom: none;
  box-shadow: 0 -1px 0 @borders inset;
}
workbench stack.titlebar headerbar:backdrop {
  box-shadow: 0 -1px 0 alpha(@borders, 0.6) inset;
}


/*
 * Layout tab and tab bar tweaks
 *
 * The following makes the layout stack header look similar to a tab bar.
 */
layouttabbar > box > button {
  opacity: 0.5;
}
layouttabbar > box > button:hover {
  opacity: 0.75;
}
layouttabbar > box > button:active {
  opacity: 1;
}
layouttabbar button {
  border: none;
  box-shadow: none;
  background: transparent;
}
layouttab label {
  padding: 5px;
}
layouttab {
  background-color: @theme_bg_color;

  border-bottom: 3px;
  border-bottom-style: solid;

  border-right: 1px solid alpha(@borders, 0.75);
  border-left: 1px solid alpha(@borders, 0.75);

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
layouttab:backdrop {
  border-right-color: alpha(@borders, 0.75);
  border-left-color: alpha(@borders, 0.75);
  box-shadow: none;
}
layouttabbar:backdrop {
  box-shadow: none;
}
layouttab separator.vertical {
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 0.75;
}
layouttab separator.vertical:backdrop {
  opacity: 0.3;
}
layouttab button:disabled,
layouttab button {
  background: none;
  border: none;
  box-shadow: none;
  padding-left: 4px;
  padding-right: 4px;
}


/*
 * Close button styling for layouttab.
 */
layouttab > box > button:last-child image {
  color: @theme_fg_color;
  opacity: 0.3;
  margin: 2px;
  border: 1px solid transparent;
  border-radius: 3px;
}
layouttab > box > button:last-child:hover image {
  opacity: .75;
  transition-duration: 250ms;
  border: 1px solid @borders;
}
layouttab > box > button:last-child:active image {
  opacity: .8;
  background-image: linear-gradient(shade(@theme_bg_color, 0.9), @theme_bg_color);
}
layouttab > box > button:last-child:backdrop image {
  opacity: .1;
}


layout {
  border: 1px solid alpha(@borders, 0.75);
  -PnlDockBin-handle-size: 1;
}
