@import url("resource:///org/gnome/builder/theme/shared.css");


#left_header_bar {
  border-top-right-radius: 0px;
}
#right_header_bar {
  border-top-left-radius: 0px;
}


/*
 * Preferences styling.
 */
GbPreferencesPageLanguage entry {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
GbPreferencesPageLanguage GtkScrolledWindow {
  border-top-width: 0;
}


/*
 * Editor tweak widget.
 */
GbEditorTweakWidget GtkScrolledWindow {
  border-top: none;
}


/*
 * View stack styling.
 */
GbViewStack > GtkBox.vertical > GtkBox.header.notebook {
  background-color: shade (@theme_bg_color, 0.95);
  border-bottom: 1px solid @borders;
}
GbViewStack.focused > GtkBox.vertical > GtkBox.header.notebook,
GbViewStack.backdrop.focused > GtkBox.vetical > GtkBox.header.notebook {
    background-color: shade (@theme_bg_color, 0.90);
}
GbWorkspacePane.focused > GtkBox.vertical > GtkBox.horizontal.notebook.header,
GbWorkspacePane.focused > GtkBox.vertical > GtkBox.horizontal.notebook.header.backdrop {
    background-color: shade (@theme_bg_color, 0.90);
}
GbViewStack > GtkBox.vertical > GtkBox.header.notebook.horizontal > GtkEventBox > GtkBox.horizontal > button,
GbViewStack > GtkBox.vertical > GtkBox.header.notebook.horizontal > GtkEventBox > GtkBox.horizontal > GtkBox > GtkBox > button {
  background-image: none;
  border-bottom: 1px solid transparent;
  border-radius: 0px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px;
  margin: 0px;
  opacity: 0.55;
  padding: 3px 8px 4px;
}
GbViewStack > GtkBox.vertical > GtkBox.header.notebook.horizontal > GtkEventBox > GtkBox.horizontal > GtkBox.navigation > button {
  background-image: none;
  border-bottom: 1px solid transparent;
  border-radius: 0px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px;
  margin: 0px;
  opacity: 0.55;
  padding: 6px 4px;
}
GbWorkspacePane > GtkBox.vertical > GtkBox.notebook.header > GtkStackSwitcher > button {
  background-image: none;
  border-bottom: 1px solid transparent;
  border-radius: 0px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px;
  margin: 0px;
  opacity: 0.55;
  padding: 3px 0px 3px;
}
GbWorkspacePane > GtkBox.vertical > GtkBox.horizontal.notebook.header > GtkStackSwitcher button:checked,
GbViewStack > GtkBox.vertical > GtkBox.header.notebook.horizontal > GtkEventBox > GtkBox.horizontal > GtkBox > GtkBox > button:checked,
GbViewStack > GtkBox.vertical > GtkBox.header.notebook.horizontal > GtkEventBox > GtkBox.horizontal > button:checked {
  box-shadow: 0px 2px 0px @theme_fg_color;
  color: @theme_fg_color;
}
GbWorkspacePane > GtkBox.vertical > GtkBox.notebook.header.horizontal > GtkStackSwitcher > button:hover,
GbViewStack > GtkBox.vertical > GtkBox.header.notebook.horizontal > GtkEventBox > GtkBox.horizontal > GtkBox.navigation > button:hover,
GbViewStack > GtkBox.vertical > GtkBox.header.notebook.horizontal > GtkEventBox > GtkBox.horizontal > button:hover,
GbViewStack > GtkBox.vertical > GtkBox.header.notebook.horizontal > GtkEventBox > GtkBox.horizontal > GtkBox > GtkBox > button:hover {
  border: 1px solid transparent;
  box-shadow: 0px 2px 0px mix(@theme_fg_color, @theme_bg_color, 0.25);
}
GbViewStack > GtkBox.vertical > GtkBox.header.notebook > GtkEventBox > GtkBox.horizontal > GtkBox.navigation > button {
  padding-left: 4px;
  padding-right: 4px;
}
GbViewStack > GtkBox.vertical > GtkBox.header.notebook.horizontal > GtkEventBox > GtkBox.horizontal > button.document-button {
  padding: 0px;
}
GbViewStack > GtkBox.vertical > GtkBox.header.notebook.horizontal > GtkEventBox > GtkBox.horizontal > button.document-button > GtkBox > GtkArrow {
  opacity: 0.35;
  padding-right: 0px;
  margin-right: 0px;
}


/* New project dialog */
GbNewProjectDialog button.linked-on-right button {
  border-radius: 3px 0 0 3px;
}


/*
 * Workspace pane header styling.
 */
GbWorkspacePane GtkBox.header.notebook {
  border-bottom: 1px solid @borders;
}
GbWorkspacePane:not(.focused) GtkBox.header.notebook
{
  background-color: shade (@theme_bg_color, 0.95);
}
GbWorkspacePane GtkStackSwitcher button {
  border: none;
  box-shadow: none;
  background: none;
  opacity: 0.55;
  border-radius: 0px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
GbWorkspacePane GtkStackSwitcher button:checked {
  opacity: 1.0;
}
GbWorkspacePane GbViewStack GtkBox.header.notebook GtkSeparator.vertical {
  opacity: 0.75;
}


/*
 * Adjust devhelp styling.
 */
DhSidebar entry {
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0px;
}


/*
 * Adjust symbol panel styling.
 */
SymbolTree entry {
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0px;
}


.shortcuts-list-box row {
  border-bottom: 1px solid @borders;
}
.shortcuts-list-box row:last-child {
  border-bottom: none;
}

.shortcuts-list-box GtkLabel {
  padding: 6px;
}


GbPreferencesPagePlugins row {
  border-bottom: 1px solid shade(@borders, 1.2);
}
GbPreferencesPagePlugins row:last-child {
  border-bottom: none;
}
