@import url("resource:///org/gnome/builder/theme/Adwaita-shared.css");


GtkTreeView.view {
  color: #eeeeec;
  background-color: mix(#292929, #2e3436, 0.8);
}
GtkTreeView.view:backdrop {
  color: #a1a1a1;
  background-color: #2e3436;
}
GtkTreeView.view.cell:selected {
  color: #fff;
  background-color: #215d9c;
}


RgGraph {
  background-color: #2e3436;
  background-size: 8px 8px;
  background-image: repeating-linear-gradient(0deg, #32383a, #32383a 1px, transparent 1px, transparent 8px),
                    repeating-linear-gradient(-90deg, #32383a, #32383a 1px, transparent 1px, transparent 8px);
}
