@import url("resource:///org/gnome/builder/theme/Adwaita-shared.css");


eggsearchbar box.search-bar {
  background-color: #d6d6d6;
  box-shadow: 0 4px 3px -5px #aaa inset,
              0 -1px 0 #a1a1a1 inset;
}
eggsearchbar:backdrop box.search-bar {
  background-color: #d5d5d5;
  box-shadow: none;
}


perspectiveswitcher {
  background: #f4f4f4;
}
perspectiveswitcher button {
  color: #bebebe;
}
perspectiveswitcher button:checked,
perspectiveswitcher button:checked:hover {
  color: #2e3436;
}
perspectiveswitcher button:hover {
  color: mix(#bebebe, #2e3436, 0.3);
}


pillbox {
  background-color: #e1e1e1;
  border-radius: 3px;
}


layouttabbar {
  background-color: #d6d6d6;
  border-bottom: 1px solid #a1a1a1;
  box-shadow: 0 4px 3px -5px #aaa inset;
}
layouttab {
  border-bottom-color: #4a90d9;
  box-shadow: 0 4px 3px -5px #aaa inset;
}
layouttab:backdrop {
  background-color: #efefef;
  border-right-color: alpha(@borders, 0.5);
  border-left-color: alpha(@borders, 0.5);
}


tabstrip {
  background-color: #d6d6d6;
  box-shadow: 0 4px 3px -5px #aaa inset,
              0 -1px 0 #a1a1a1 inset;
}
tabstrip:backdrop {
  box-shadow: 0 -1px 0 #a1a1a1 inset;
}
tabstrip tab:checked {
  box-shadow: 0 -2px 0 #4a90d9 inset;
}
