/* work around some gtk padding issue */
filechooser actionbar button.combo {
  padding: 0;
}

/* styling for editor search */
frame.gb-search-frame {
  background-image: linear-gradient(shade(@theme_bg_color,1.05), @theme_bg_color);
  padding: 6px;
  border-style: solid;
  border-color: @borders;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-bottom-left-radius: 5px;
}
frame.gb-search-frame border {
  border: none;
}

/* styling for NautilusFloatingBar */
.floating-bar {
  padding: 2px;
  background-color: @theme_base_color;
  border-width: 1px;
  border-style: solid solid none;
  border-color: @borders;
  border-radius: 3px 3px 0 0;
}
.floating-bar.bottom.left { /* axes left border and border radius */
  border-left-style: none;
  border-top-left-radius: 0;
}
.floating-bar.bottom.right { /* axes right border and border radius */
  border-right-style: none;
  border-top-right-radius: 0;
}
.floating-bar:backdrop {
  background-color: @theme_unfocused_base_color;
  border-color: @unfocused_borders;
}
.floating-bar button {
  padding: 4px;
}
