.floating-bar {
  padding: 2px;
  background-color: @theme_base_color;
  border-width: 1px;
  border-style: solid solid none;
  border-color: @borders;
  border-radius: 3px 3px 0 0;
}
.floating-bar.bottom.left { /* axes left border and border radius */
  border-left-style: none;
  border-top-left-radius: 0;
}
.floating-bar.bottom.right { /* axes right border and border radius */
  border-right-style: none;
  border-top-right-radius: 0;
}
.floating-bar:backdrop {
  background-color: @theme_unfocused_base_color;
  border-color: @unfocused_borders;
}
.floating-bar button {
  padding: 4px;
}


GbEditorSettingsWidget row {
  padding: 6px;
  border-bottom: 1px solid @borders;
}
GbEditorSettingsWidget row:last-child {
  border-bottom: none;
}


/*
 * Editor Floating Search Entry.
 */
GbEditorFrame .gb-search-slider {
  background-color: @theme_base_color;
  padding: 6px;
  border-color: shade (@theme_base_color, 0.60);
  border-radius: 0 0 5px 5px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}
.gb-search-entry-occurrences-tag {
  color: shade (@theme_unfocused_fg_color, 0.8);
  margin: 2px;
  padding: 2px;
}
GdTaggedEntry {
  color: @theme_fg_color;
}


/*
 * Command Bar styling.
 */
box.gb-command-bar-box {
  border: none;
  background-image: linear-gradient(to bottom, #2e3436, #555753 10%);
  box-shadow: inset 0px 3px 6px #2e3436;
}
box.gb-command-bar-box label {
  color: #eeeeec;
}
entry.gb-command-bar-entry {
  font-family: Monospace;
  background-image: none;
  padding: 6px 6px 6px 6px;
  color: #eeeeec;
}


/*
 * Style selector widget.
 */
GtkSourceStyleSchemeChooserWidget textview {
  font-family: Monospace;
}


/*
 * Disable various animations that are enabled by default and really annoying
 * to the overall flow of Builder.
 */
GbSearchDisplayGroup GtkListBox .list-row {
  transition: none;
}


greeter row,
row.with-header {
  border-bottom: 1px solid alpha(@borders, 0.4);
}

greeter .frame {
    border-top: 1px solid alpha(@borders, 0.4);
    border-left: 1px solid alpha(@borders, 0.4);
    border-right: 1px solid alpha(@borders, 0.4);
    border-bottom: none;
}
/* remove viewport frame */
greeter > box.vertical > scrolledwindow > viewport.frame {
  border: none;
}


layoutpane {
  -IdeLayoutPane-handle-size: 1;
  -gtk-icon-source: none;
}
layoutpane .pane-separator {
  background-color: @borders;
}


.round button {
  border-radius: 20px;
  outline-radius: 20px;
}
.round label {
  padding-left: 0px;
  padding-right: 0px;
}


.filtered {
  opacity: .2;
}


/*
 * XXX: Address this after 3.18
 *
 * allow scrolling past the end of the buffer.
 * this helps when typing at the bottom of the screen is annoying.
 *
 * We probably want to make this configurable and generate the value
 * with a custom css provider.
 */
GbEditorFrame textview {
  padding-bottom: 250px;
}


/* Workbench perspective selection bar */
/*
IdeWorkbench > GtkStack > box.horizontal > GtkStackSwitcher > button {
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 10px;
  box-shadow: none;
  border-radius: 0px;
}
IdeWorkbench > GtkStack > box.horizontal > GtkStackSwitcher > button:active:hover,
IdeWorkbench > GtkStack > box.horizontal > GtkStackSwitcher > button:active:checked,
IdeWorkbench > GtkStack > box.horizontal > GtkStackSwitcher > button:active {
  background-color: mix(@theme_bg_color, @borders, 0.75);
}
IdeWorkbench > GtkStack > box.horizontal > GtkStackSwitcher > button:checked {
  background-color: mix(@theme_bg_color, @borders, 0.5);
}
IdeWorkbench > GtkStack > box.horizontal > GtkStackSwitcher > button:hover {
  background-color: mix(@theme_bg_color, @borders, 0.25);
}
*/

workbench IdePreferencesPerspective IdePreferencesGroup row {
  border-bottom: 1px solid shade(@borders, 1.2);
  padding: 10px;
}
workbench IdePreferencesPerspective IdePreferencesGroup row:last-child {
  border-bottom: none;
}

workbench IdePreferencesBin entry {
  background: transparent;
  box-shadow: none;
  opacity: 0.50;
}


omnisearchrow {
  padding-top: 9px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 9px;
}
