<?xml version="1.0" encoding="utf-8"?>
<snippets>
  <snippet _name="shebang" trigger="shebang" _description="shebang line for the interpreter">
    <text languages="python;python3;"><![CDATA[#!/usr/bin/env python
$0
]]></text>
    <text languages="bash;"><![CDATA[#!/usr/bin/env bash
$0
]]></text>
  </snippet>
</snippets>
