<?xml version="1.0" encoding="utf-8"?>
<snippets>
  <snippet _name="class" trigger="class" _description="Create class">
    <text languages="vala;"><![CDATA[class ${1:$filename|stripsuffix|camelize} : ${2:Object} {
	public $1 () {
		$0
	}
}
]]></text>
  </snippet>
  <snippet _name="comment" trigger="comment" _description="Insert a multiline comment.">
    <text languages="vala;"><![CDATA[/*
 * $0
 */
]]></text>
  </snippet>
</snippets>