snippet class
- scope vala
- desc Create class
	class ${1:$filename|stripsuffix|camelize} : ${2:Object} {
		public $1 () {
			$0
		}
	}
snippet comment
- scope vala
- desc Insert a multiline comment.
	/*
	 * $0
	 */
snippet async
- scope vala
- desc Call an async function
	${1:func}.begin (${2:args, }(obj, res) => {
		${3:var result = }$1.end (res);$0
	});
