<?xml version="1.0" encoding="utf-8"?>
<snippets _group="XML">
  <snippet _name="xml" trigger="xml" _description="XML declaration">
    <text languages="xml;"><![CDATA[<?xml version="1.0"?>
$0]]></text>
  </snippet>
</snippets>
