{{include "license.js"}}

import Gio from 'gi://Gio';
import Gtk from 'gi://Gtk?version=4.0';
{{if is_adwaita}}
import Adw from 'gi://Adw?version=1';
{{end}}

import { {{PreFix}}Window } from './window.js';

pkg.initGettext();
pkg.initFormat();

export function main(argv) {
    const application = new {{if is_adwaita}}Adw{{else}}Gtk{{end}}.Application({
        application_id: '{{appid}}',
        flags: Gio.ApplicationFlags.FLAGS_NONE,
    });

    const quit_action = new Gio.SimpleAction({name: 'quit'});
    quit_action.connect('activate', action => {
      application.quit();
    });
    application.add_action(quit_action);
    application.set_accels_for_action('app.quit', ["<primary>q"]);

    const show_about_action = new Gio.SimpleAction({name: 'about'});
    show_about_action.connect('activate', action => {
      let aboutParams = {
        authors: [
          '{{author}}'
        ],
        version: '{{project_version}}',
        program_name: '{{name}}',
        transient_for: application.activeWindow,
        modal: true
      };
      const aboutDialog = new Gtk.AboutDialog(aboutParams);
      aboutDialog.show();
    });
    application.add_action(show_about_action);

    application.connect('activate', app => {
        let activeWindow = app.activeWindow;

        if (!activeWindow)
            activeWindow = new {{PreFix}}Window(app);

        activeWindow.present();
    });

    return application.run(argv);
}
