{{include "license.js"}}

import GObject from 'gi://GObject';
import Gio from 'gi://Gio';
import Gtk from 'gi://Gtk?version=4.0';
{{if is_adwaita}}
import Adw from 'gi://Adw?version=1';
{{end}}

import { {{PreFix}}Window } from './window.js';

pkg.initGettext();
pkg.initFormat();

export const {{PreFix}}Application = GObject.registerClass(
    class {{PreFix}}Application extends {{if is_adwaita}}Adw{{else}}Gtk{{end}}.Application {
        constructor() {
            super({
                application_id: '{{appid}}',
                flags: Gio.ApplicationFlags.DEFAULT_FLAGS,
                resource_base_path: '{{appid_path}}'
            });

            const quit_action = new Gio.SimpleAction({name: 'quit'});
                quit_action.connect('activate', action => {
                this.quit();
            });
            this.add_action(quit_action);
            this.set_accels_for_action('app.quit', ['<primary>q']);

            const show_about_action = new Gio.SimpleAction({name: 'about'});
            show_about_action.connect('activate', action => {
{{if is_adwaita}}
                const aboutParams = {
                    application_name: '{{name}}',
                    application_icon: '{{appid}}',
                    developer_name: '{{author}}',
                    version: '{{project_version}}',
                    developers: [
                        '{{author}}'
                    ],
                    // Translators: Replace "translator-credits" with your name/username, and optionally an email or URL.
                    translator_credits: _("translator-credits"),
                    copyright: '© {{year}} {{author}}'
                };
                const aboutDialog = new Adw.AboutDialog(aboutParams);
                aboutDialog.present(this.active_window);
{{else}}
                const aboutParams = {
                    transient_for: this.active_window,
                    modal: true,
                    program_name: '{{name}}',
                    logo_icon_name: '{{appid}}',
                    version: '{{project_version}}',
                    authors: [
                        '{{author}}'
                    ],
                    // Translators: Replace "translator-credits" with your name/username, and optionally an email or URL.
                    translator_credits: _("translator-credits"),
                    copyright: '© {{year}} {{author}}'
                };
                const aboutDialog = new Gtk.AboutDialog(aboutParams);
                aboutDialog.present();
{{end}}
            });
            this.add_action(show_about_action);
        }

        vfunc_activate() {
            let {active_window} = this;

            if (!active_window)
                active_window = new {{PreFix}}Window(this);

            active_window.present();
        }
    }
);

export function main(argv) {
    const application = new {{PreFix}}Application();
    return application.runAsync(argv);
}
