{{include "license.js"}}

import GObject from 'gi://GObject';
import Gtk from 'gi://Gtk';

export const {{PreFix}}Window = GObject.registerClass({
    GTypeName: '{{PreFix}}Window',
    Template: 'resource://{{appid_path}}/{{ui_file}}',
    InternalChildren: ['label'],
}, class {{PreFix}}Window extends Gtk.ApplicationWindow {
    _init(application) {
        super._init({ application });
    }
});

