greeter flowboxchild {
  border-radius: 11px;
  outline-offset: -3px;
  -gtk-outline-radius: 9px;
  min-width: 164px;
  min-height: 164px;
}

greeter flowboxchild:selected label {
  color: white;
}

greeter flowboxchild dzlpillbox {
 background: alpha(shade(@theme_bg_color, 0.9), 0.8);
}
