
@binding-set default-ide-source-view
{
  bind "<ctrl>comma" { "action" ("app", "preferences", "") };
  bind "<ctrl>f" { "action" ("frame", "find", "") };
  bind "<ctrl>period" { "action" ("workbench", "global-search", "") };
  bind "<ctrl>s" { "action" ("view", "save", "") };
  bind "<alt><shift>Left" { "action" ("navigation", "go-backward", "") };
  bind "<alt><shift>Right" { "action" ("navigation", "go-forward", "") };

  /* cycle "tabs" */
  bind "<ctrl>Page_Up" { "action" ("view-stack", "previous-view", "") };
  bind "<ctrl>KP_Page_Up" { "action" ("view-stack", "previous-view", "") };
  bind "<ctrl>Page_Down" { "action" ("view-stack", "next-view", "") };
  bind "<ctrl>KP_Page_Down" { "action" ("view-stack", "next-view", "") };

  /* toggle header/source */
  bind "F4" { "action" ("view", "find-other-file", "") };
  bind "F9" { "action" ("view", "preview", "") };
}

IdeSourceViewMode.default {
  gtk-key-bindings: default-ide-source-view;
}

