@binding-set builder-emacs-text-entry
{
  bind "<ctrl>b" { "move-cursor" (logical-positions, -1, 0) };
  bind "<shift><ctrl>b" { "move-cursor" (logical-positions, -1, 1) };
  bind "<ctrl>f" { "move-cursor" (logical-positions, 1, 0) };
  bind "<shift><ctrl>f" { "move-cursor" (logical-positions, 1, 1) };

  bind "<alt>b" { "move-cursor" (words, -1, 0) };
  bind "<shift><alt>b" { "move-cursor" (words, -1, 1) };
  bind "<alt>f" { "move-cursor" (words, 1, 0) };
  bind "<shift><alt>f" { "move-cursor" (words, 1, 1) };

  bind "<ctrl>a" { "move-cursor" (paragraph-ends, -1, 0) };
  bind "<shift><ctrl>a" { "move-cursor" (paragraph-ends, -1, 1) };
  bind "<ctrl>e" { "move-cursor" (paragraph-ends, 1, 0) };
  bind "<shift><ctrl>e" { "move-cursor" (paragraph-ends, 1, 1) };

  bind "<ctrl>w" { "cut-clipboard" () };
  bind "<alt>w" { "copy-clipboard" () };
  bind "<ctrl>y" { "paste-clipboard" () };

  bind "<ctrl>d" { "delete-from-cursor" (chars, 1) };
  bind "<alt>d" { "delete-from-cursor" (word-ends, 1) };
  bind "<ctrl>k" { "delete-from-cursor" (paragraph-ends, 1) };
  bind "<alt>backslash" { "delete-from-cursor" (whitespace, 1) };

  bind "<alt>space" { "delete-from-cursor" (whitespace, 1)
                      "insert-at-cursor" (" ") };
  bind "<alt>KP_Space" { "delete-from-cursor" (whitespace, 1)
                         "insert-at-cursor" (" ")  };
}

/*
 * Bindings for GtkTextView
 */
@binding-set builder-emacs-text-view
{
  bind "<ctrl>p" { "move-cursor" (display-lines, -1, 0) };
  bind "<shift><ctrl>p" { "move-cursor" (display-lines, -1, 1) };
  bind "<ctrl>n" { "move-cursor" (display-lines, 1, 0) };
  bind "<shift><ctrl>n" { "move-cursor" (display-lines, 1, 1) };

  bind "<ctrl>space" { "set-anchor" () };
  bind "<ctrl>KP_Space" { "set-anchor" () };
}

@binding-set builder-emacs-source-view
{
  bind "<ctrl>x" { "set-mode" ("emacs-x", transient) };
  bind "<ctrl>underscore" { "undo" () };
  bind "<alt>x" { "action" ("win", "show-command-bar", "") };
  bind "<ctrl>s" { "action" ("editor-frame", "find", "") };
  bind "<ctrl>period" { "action" ("workbench", "global-search", "") };
  bind "<ctrl>comma" { "action" ("app", "preferences", "") };
  bind "<alt>n" { "move-error" (down) };
  bind "<alt>p" { "move-error" (up) };
  bind "<ctrl>j" { "action" ("view-grid", "focus-neighbor", "3") };
  bind "<shift><ctrl>j" { "action" ("view-stack", "split-down", "") };

  /* cycle "tabs" */
  bind "<ctrl><alt>Page_Up" { "action" ("view-stack", "previous-view", "") };
  bind "<ctrl><alt>KP_Page_Up" { "action" ("view-stack", "previous-view", "") };
  bind "<ctrl><alt>Page_Down" { "action" ("view-stack", "next-view", "") };
  bind "<ctrl><alt>KP_Page_Down" { "action" ("view-stack", "next-view", "") };

  bind "F4" { "action" ("view", "find-other-file", "") };

  bind "<alt>0" { "append-to-count" (0) };
  bind "<alt>1" { "append-to-count" (1) };
  bind "<alt>2" { "append-to-count" (2) };
  bind "<alt>3" { "append-to-count" (3) };
  bind "<alt>4" { "append-to-count" (4) };
  bind "<alt>5" { "append-to-count" (5) };
  bind "<alt>6" { "append-to-count" (6) };
  bind "<alt>7" { "append-to-count" (7) };
  bind "<alt>8" { "append-to-count" (8) };
  bind "<alt>9" { "append-to-count" (9) };
}

@binding-set builder-emacs-source-view-x
{
  bind "<ctrl>c" { "action" ("app", "quit", "") };
  bind "0" { "action" ("stack", "close", "") };
  bind "k" { "action" ("stack", "close", "") };
  bind "<ctrl>f" { "action" ("workspace", "open", "") };
  bind "<ctrl>s" { "action" ("view", "save", "") };
  bind "s" { "action" ("win", "save-all", "") };
  bind "b" { "action" ("workspace", "new-document", "") };
  bind "<ctrl>w" { "action" ("stack", "save-as", "") };
  bind "u" { "redo" () };
  bind "2" { "action" ("editor-view", "toggle-split", "") };
  bind "3" { "action" ("stack", "split-document-right", "") };
  bind "o" { "action" ("stack", "focus-right", "") };
  bind "grave" { "move-error" (down) };
}

/*
 * Bindings for GtkTreeView
 */
@binding-set builder-emacs-tree-view
{
  bind "<ctrl>s" { "start-interactive-search" () };
  bind "<ctrl>f" { "move-cursor" (logical-positions, 1) };
  bind "<ctrl>b" { "move-cursor" (logical-positions, -1) };
}

GtkEntry {
  gtk-key-bindings: builder-emacs-text-entry;
}

GtkTextView {
  gtk-key-bindings: builder-emacs-text-entry, builder-emacs-text-view;
}

GtkSourceView,
IdeSourceViewMode.default
{
  -IdeSourceViewMode-repeat-insert-with-count: true;

  gtk-key-bindings: builder-emacs-text-entry, builder-emacs-source-view, builder-emacs-text-view;
}

IdeSourceViewMode.emacs-x {
  gtk-key-bindings: builder-emacs-source-view-x;
}

GtkTreeView {
  gtk-key-bindings: builder-emacs-tree-view;
}
