@binding-set builder-gb-project-tree
{
  bind "Delete" { "action" ("project-tree", "move-to-trash", "") };
  bind "F2" { "action" ("project-tree", "rename-file", "") };

  bind "<ctrl>Return" { "action" ("win", "show-command-bar", "") };
  bind "<ctrl>KP_Enter" { "action" ("win", "show-command-bar", "") };
}

@binding-set builder-vte-terminal
{
  bind "<ctrl><shift>c" { "copy-clipboard" () };
  bind "<ctrl><shift>v" { "paste-clipboard" () };
}

VteTerminal {
  gtk-key-bindings: builder-vte-terminal;
}

@binding-set builder-command-bar-entry
{
  bind "<ctrl>a" { "move-cursor" (paragraph-ends, -1, 0) };
  bind "<ctrl>e" { "move-cursor" (paragraph-ends, 1, 0) };

  bind "<ctrl>u" { "move-cursor" (paragraph-ends, -1, 0)
                   "delete-from-cursor" (paragraph-ends, 1) };
  bind "<ctrl>h" { "delete-from-cursor" (chars, -1) };
  bind "<ctrl>w" { "delete-from-cursor" (word-ends, -1) };

}

@binding-set builder-workbench-bindings
{
  bind "<ctrl>comma" { "set-perspective" ("preferences") };
}

entry.gb-command-bar-entry {
  gtk-key-bindings: builder-command-bar-entry;
}

workbench {
  gtk-key-bindings: builder-workbench-bindings;
}
