@import url("resource:///org/gnome/builder/themes/Adwaita-shared.css");


perspectiveswitcher {
  background-color: #272c2e;
}
perspectiveswitcher button {
  color: #696c6b;
}
perspectiveswitcher button:checked,
perspectiveswitcher button:checked:hover {
  color: #eeeeec;
}
perspectiveswitcher button:hover {
  color: #b2b4b2;
}


layouttabbar {
  background-color: #272c2e;
  box-shadow: 0 4px 3px -5px #2c3030 inset,
              0 -1px 0 #1c1f1f inset;
}
layouttabbar:backdrop {
  box-shadow: 0 -1px 0 #2c3030 inset;
}
layouttab {
  border-bottom-color: #215d9c;
  box-shadow: 0 4px 3px -5px #2c3030 inset;
}
layouttab:backdrop {
  background-color: #393f3f;
  border-right-color: alpha(@borders, 0.5);
  border-left-color: alpha(@borders, 0.5);
  box-shadow: none;
}


entry.search-missing {
  border-color: #330000;
}

/* spellchecker word count background darker with dark theme */
.countbox {
  background-color: #587A9E;
}
