@import url("resource:///org/gnome/builder/themes/shared.css");


/*
 * Layout tab and tab bar tweaks
 *
 * The following makes the layout stack header look similar to a tab bar.
 */
layouttabbar > box > button {
  opacity: 0.5;
}
layouttabbar > box > button:hover {
  opacity: 0.75;
}
layouttabbar > box > button:active {
  opacity: 1;
}
layouttabbar button {
  border: none;
  box-shadow: none;
  background: transparent;
}
layouttab label {
  padding: 5px;
}
layouttab {
  background-color: @theme_bg_color;

  border-bottom: 3px;
  border-bottom-style: solid;

  border-right: 1px solid alpha(@borders, 0.75);
  border-left: 1px solid alpha(@borders, 0.75);

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
layouttab:backdrop {
  border-right-color: alpha(@borders, 0.75);
  border-left-color: alpha(@borders, 0.75);
  box-shadow: none;
}
layouttabbar:backdrop {
  box-shadow: none;
}
layouttab separator.vertical {
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 0.75;
}
layouttab separator.vertical:backdrop {
  opacity: 0.3;
}
layouttab button:disabled,
layouttab button {
  background: none;
  border: none;
  box-shadow: none;
  padding-left: 4px;
  padding-right: 4px;
}


/*
 * Close button styling for layouttab.
 */
layouttab > box > button:last-child image {
  color: @theme_fg_color;
  opacity: 0.3;
  margin: 2px;
  border: 1px solid transparent;
  border-radius: 3px;
}
layouttab > box > button:last-child:hover image {
  opacity: .75;
  transition-duration: 250ms;
  border: 1px solid @borders;
}
layouttab > box > button:last-child:active image {
  opacity: .8;
  background-image: linear-gradient(shade(@theme_bg_color, 0.9), @theme_bg_color);
}
layouttab > box > button:last-child:backdrop image {
  opacity: .1;
}


layout {
  border: 1px solid alpha(@borders, 0.75);
  -PnlDockBin-handle-size: 1;
}


entry.search-missing {
  background-color: #cc0000;
  color: white;
  text-shadow: none;
}

entry.search-missing > image {
  color: white;
}


/* tweak icons for treeviews */
treeview.image { color: alpha(currentColor, 0.8); }
treeview.image:selected { color: alpha(@theme_selected_fg_color, 0.9); }


popover.popover-selector list {
  padding: 12px;
}

popover.popover-selector list row {
  padding: 8px;
}

popover.popover-selector list row image {
  min-height: 16px;
  min-width: 16px;
  margin-right: 12px;
}
popover.popover-selector list row image:dir(rtl) {
  margin-right: 0px;
  margin-left: 12px;
}
popover.popover-selector list row .accel {
  margin-left: 20px;
  margin-right: 0;
}
popover.popover-selector list row .accel:dir(rtl) {
  margin-left: 0;
  margin-right: 20px;
}


omnibar entry {
  background-color: @theme_bg_color;
  color: alpha(@theme_fg_color, 0.8);
}
omnibar:hover entry,
omnibar:active entry {
  background-color: mix(@theme_bg_color, @content_view_bg, 0.9);
  color: @theme_fg_color;
}


popover.omnibar list row {
  border-bottom: 1px solid alpha(@borders, 0.4);
}
popover.omnibar list row:last-child {
  border-bottom: none;
}


popover.messagepopover.background {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  padding: 0;
}

popover.messagepopover .popover-action-area button {
  padding: 7px 14px;;
  border-radius: 0;
  border-left-style: solid;
  border-right-style: none;
  border-bottom-style: none;
}

popover.messagepopover .popover-action-area button:first-child {
  border-left-style: none;
  border-bottom-left-radius: 7px;
  -gtk-outline-bottom-left-radius: 5px;
}

popover.messagepopover .popover-action-area button:last-child {
  border-right-style: none;
  border-bottom-right-radius: 7px;
  -gtk-outline-bottom-right-radius: 5px;
}

popover.messagepopover .popover-content-area {
  margin: 24px;
}


popover.transfers list {
  background-color: transparent;
}
popover.transfers list row {
  border-top: 1px solid @borders;
}
popover.transfers list row:first-child {
  border-top: none;
}
popover.transfers list row > box {
  padding: 10px;
}


/*
buildpanel button.popup:active,
buildpanel button.popup:checked,
buildpanel button.popup {
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  border-style: none;
  margin: 0;
  padding: 0;
}
*/

list.buildpanel row {
  padding: 10px;
  border-bottom: 1px solid alpha(@borders, 0.4);
}

list.buildpanel row:last-child {
  border-bottom: none;
}

buildpanel list row {
  padding: 6px;
  border-bottom: 1px solid alpha(@borders, 0.4);
}

buildpanel list row:last-child {
  border-bottom: none;
}

buildpanel list row label.file {
  opacity: 0.5;
}


buildpanel box.build-status {
  background: shade(@theme_bg_color, 0.96);
}


buildperspective list.sidebar row:selected button:hover {
  border-color: transparent;
  box-shadow: none;
  background: transparent;
  color: @theme_selected_fg_color;
  opacity: 1;
}
buildperspective list.sidebar row:selected button,
buildperspective list.sidebar row:selected button:active {
  opacity: 0.8;
}
buildperspective list.sidebar {
  border-right: 1px solid alpha(@borders, 0.55);
}


configurationview list row {
  padding: 10px;
  border-bottom: 1px solid alpha(@borders, 0.4);
}
configurationview list row:last-child {
  border-bottom: none;
}

configurationview list row entry {
  background: transparent;
  border: none;
  padding: 0;
  padding-left: 5px;
  border-radius: 3px;
  margin: -5px;
}

configurationview list row spinbutton entry {
  margin-left: 2px;
}

configurationview list row button {
  margin: -5px 0;
}


/* hrmm, we can use this to get row separators */
buildpanel treeview,
configurationview treeview {
  border-bottom: 1px solid alpha(@borders, 0.4);
}


buildpanel list > label {
  font-weight: bold;
  opacity: 0.55;
  margin: 6px 10px 0px 10px;
}
