/* work around some gtk padding issue */
filechooser actionbar button.combo {
  padding: 0;
}

/* Generic styles */
.warning {
    color: @warning_color;
}

/* styling for editor search */
frame.gb-search-frame {
  background-image: linear-gradient(shade(@theme_bg_color,1.05), @theme_bg_color);
  padding: 6px;
  border-style: solid;
  border-color: @borders;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
frame.gb-search-frame border {
  border: none;
}

/* styling for the search and spellchecker list close button */
frame.gb-search-frame > box > grid:first-child > button.close:disabled,
.gb-spellchecker list button.close:disabled,
frame.gb-search-frame > box > grid:first-child > button.close,
.gb-spellchecker list button.close {
  background: none;
  border: none;
  box-shadow: none;
  padding-left: 4px;
  padding-right: 4px;
}
frame.gb-search-frame > box > grid:first-child > button.close image,
.gb-spellchecker list button.close image {
  color: @theme_fg_color;
  opacity: 0.3;
  margin: 2px;
  border: 1px solid transparent;
  border-radius: 3px;
}
frame.gb-search-frame > box > grid:first-child > button.close:hover image,
.gb-spellchecker list button.close:hover image {
  opacity: .75;
  transition-duration: 250ms;
  border: 1px solid @borders;
}
frame.gb-search-frame > box > grid:first-child > button.close:active image,
.gb-spellchecker list button.close:active image {
  opacity: .8;
  background-image: linear-gradient(shade(@theme_bg_color, 0.9), @theme_bg_color);
}
frame.gb-search-frame > box > grid:first-child > button.close:backdrop image,
.gb-spellchecker list button.close:backdrop image {
  opacity: .1;
}

/* styling for spellchecker */
.gb-spellchecker list row label {
  padding: 7px;
}
.gb-spellchecker list row {
  border-bottom: 1px solid alpha(@borders, 0.2);
}
.gb-spellchecker list row:last-child {
  border-bottom: none;
}
.countbox {
  background-color: #b3d4fc;
  border-radius: 3px;
  padding: 3px;
}

/* styling for NautilusFloatingBar */
.floating-bar {
  padding: 2px;
  background-color: @theme_base_color;
  border-width: 1px;
  border-style: solid solid none;
  border-color: @borders;
  border-radius: 3px 3px 0 0;
}
.floating-bar.bottom.left { /* axes left border and border radius */
  border-left-style: none;
  border-top-left-radius: 0;
}
.floating-bar.bottom.right { /* axes right border and border radius */
  border-right-style: none;
  border-top-right-radius: 0;
}
.floating-bar:backdrop {
  background-color: @theme_unfocused_base_color;
  border-color: @unfocused_borders;
}
.floating-bar button {
  padding: 4px;
}

.gb-search-entry-occurrences-tag {
    color: shade (@theme_unfocused_fg_color, 0.8);
    border: 0px;
    margin: 2px;
    padding: 2px;
}

/*
 * For our pattern of popover with lists (and close buttons).
 */
popover list row {
  padding: 6px;
}
popover list row button:not(.circular) {
  background: transparent;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  opacity: 0.25;
}
popover list row:selected button:not(.circular),
popover list row:selected button:hover:not(.circular) {
  color: @theme_selected_fg_color;
}
popover list row button:hover:not(.circular) {
  opacity: 1;
}


/*
 * Tweaks for the editortweak popover in the editor.
 */
editortweak button {
  padding: 0 6px 0 6px;
}
editortweak list row {
  padding: 0;
}

/*
 * Styling in the genesis (create project) perspective.
 */
genesisperspective stack > box:first-child list row {
  padding: 10px;
  border-bottom: 1px solid alpha(@borders, 0.2);
}
genesisperspective stack > box:first-child list row:last-child {
  border-bottom: none;
}

/*
 * Greeter tweaks
 *
 * The following tweaks the greeter perspective by adding
 * separator lines to the list box.
 */
greeter list row {
  border-bottom: 1px solid alpha(@borders, 0.2);
}
greeter list row:last-child {
  border-bottom: none;
}
greeter frame border {
  border-color: alpha(@borders, 0.6);
}

/*
 * Global search results styling
 *
 * The following tweaks the sizing of listbox rows in the
 * global search results to have a bit more padding and
 * row separators after each line. Additionally, we tweak
 * the selection color to ensure it has priority.
 */
omnisearchdisplay omnisearchgroup omnisearchrow {
  background: transparent;
  padding: 9px 12px 9px 12px;
  border-bottom: 1px solid alpha(@borders, 0.2);
}
omnisearchdisplay omnisearchgroup omnisearchrow:last-child {
  border-bottom: none;
}
omnisearchdisplay omnisearchgroup omnisearchrow:selected {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}


/*
 * Perspectives switcher
 *
 * The following tweaks the left-most sidebar containing
 * the list of perspectives.
 */
perspectiveswitcher {
  border-right: 1px solid alpha(@borders, 0.5);
}
perspectiveswitcher button {
  background: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  padding: 6px;
}


/* Workaround Adwaita adding borders we don't want */
textview border.left {
  background: none;
}

treeview.dim-label {
  color: alpha(currentColor, 0.5);
}


button.run-arrow-button {
  min-width: 12px;
}
