snippet python
- scope python, python3
	#!/usr/bin/env python
	$0
snippet import
- scope python, python3
	import $0
snippet from
- scope python, python3
	from ${1} import $0
snippet def
- scope python, python3
	def ${1:function}(${2}):
		$0
snippet class
- scope python, python3
	class ${1:Foo}(${2:object}):
		def __init__(self${3}):
			$0

