@import url("resource:///org/gnome/builder/themes/Adwaita-shared.css");


surfaceswitcher {
  background-color: #272c2e;
}
surfaceswitcher button {
  color: #696c6b;
}
surfaceswitcher button:checked,
surfaceswitcher button:checked:hover {
  color: #eeeeec;
}
surfaceswitcher button:hover {
  color: #b2b4b2;
}


entry.search-missing {
  border-color: #330000;
}

/* spellchecker word count background darker with dark theme */
.countbox {
  background-color: #587A9E;
}


/* Terminal styling for legibility:
 * https://gitlab.gnome.org/GNOME/gnome-terminal/issues/233
 */
vte-terminal {
  color: white;
  background-color: #1e1e1e;
}
